---
- name: Clone repo branch
  git:
    repo: '{{ beacon_node_repo_url }}'
    version: '{{ beacon_node_repo_branch }}'
    dest: '{{ beacon_node_repo_path }}'
    force: true
    update: true
  become_user: '{{ beacon_node_user }}'
  when: beacon_node_update_build

- name: Check if node binary exists
  stat:
    path: '{{ beacon_node_binary_path }}'
  register: beacon_node_bin

- name: Create timer for Update script
  include_role: name=infra-role-systemd-timer
  vars:
    systemd_timer_name:               '{{ beacon_node_update_timer_name }}'
    systemd_timer_description:        'Update {{ beacon_node_service_name }}'
    systemd_timer_user:               '{{ beacon_node_user }}'
    systemd_timer_group:              '{{ beacon_node_group }}'
    systemd_timer_start_on_creation: |-
      {{ beacon_node_update_start_on_creation and
        not beacon_node_bin.stat.exists }}
    systemd_timer_ionice_class:       'idle'
    systemd_timer_consul_warning:     true
    systemd_timer_enabled:            '{{ beacon_node_update_timer_enabled }}'
    systemd_timer_frequency:          '{{ beacon_node_update_frequency }}'
    systemd_timer_timeout_sec:        '{{ beacon_node_update_timer_timeout }}'
    systemd_timer_work_dir:           '{{ beacon_node_service_path }}'
    systemd_timer_script_path: |-        
      {{ beacon_node_update_build_script if beacon_node_update_build == true
        else beacon_node_update_download_script }}
