#!/usr/bin/env bash
# vim: ft=sh
set -e

function headIsDetached() {
    [[ $(git rev-parse --abbrev-ref --symbolic-full-name HEAD) == "HEAD" ]];
}

function binaryExists() {
    ls -l \
{% for target in beacon_node_update_build_targets %}
        build/{{ target }}_${COMMIT} \
{% endfor %}
        2>&1 1>/dev/null
}

function fetchChanges() {
    # We cannot use "git pull" in here, because history may be changed upstream
    git fetch
    git reset --hard "origin/${BRANCH}"
}

function buildBinaries() {
    # Control number of jobs used to lower impact on running nodes
    export MAKEFLAGS="-j{{ beacon_node_update_build_jobs | int }}"
{% if beacon_node_nim_commit is defined and beacon_node_nim_commit != "" %}
    export NIM_COMMIT={{ beacon_node_nim_commit }}
{% endif %}

    make update OVERRIDE=1
    make {{ beacon_node_update_build_targets | join(" ") }} \
        LOG_LEVEL="{{ beacon_node_update_build_log_level }}" \
        NIMFLAGS="{{ beacon_node_update_build_nim_flags }}"

    cd build/

{% for target in beacon_node_update_build_targets %}
    # Rename binaries to match commit they were built from.
    mv "build/{{ target }}" "build/{{ target }}_${COMMIT}"
    # Create a symbolic link to the latest version
    ln -vfrs "build/{{ target }}_${COMMIT}" "${INSTALL_PATH}/{{ target }}"

{% endfor %}
    # Delete copies that are older than N days
    find . -mtime +{{ beacon_node_update_build_days_kept }} -exec rm '{}' \+
}

#-------------------------------------------------------------------------------

BRANCH="${1:-{{ beacon_node_repo_branch }}}"
SERVICE="{{ beacon_node_service_name }}.service"
INSTALL_PATH="{{ beacon_node_bin_path }}"
SERVICE_PATH="{{ beacon_node_service_path }}"

echo " >>> Build Start: $(date -u +"%Y-%m-%dT%H:%M:%SZ")"
echo " >>> Building branch: ${BRANCH}"
cd "${SERVICE_PATH}"

if [[ "${USER}" != "{{ beacon_node_user }}" ]]; then
    echo "Incorrect user: ${USER}" >&2
    echo "Expected: {{ beacon_node_user }}" >&2
    exit 1
fi

# Build the Beacon node binaries
pushd repo >/dev/null

# Detached HEAD means we're probably on a tag
if headIsDetached; then
    echo " >>> Deatached HEAD, nothing to fetch."
else
    echo " >>> Fetching changes..."
    fetchChanges
fi

COMMIT=$(git rev-parse --short=8 HEAD)

if binaryExists && [[ ! "${*}" =~ '^.* --force .*$' ]]; then
    echo " >>> Binary already built"
    exit 0
else
    echo " >>> Building binaries..."
    buildBinaries
fi

{% if beacon_node_update_restarts_service %}
# Avoid faiure on first Ansible run due to missing service.
if [[ $(systemctl is-enabled "${SERVICE}" || true) != "enabled" ]]; then
    echo " !!! No service to restart!"
    exit
else
    echo " >>> Restarting service..."
    sudo systemctl restart "${SERVICE}"
fi

{% endif %}
popd >/dev/null

echo " >>> SUCCESS"
