[Unit]
Description=Nimbus Beacon Node on {{ beacon_node_network }} network ({{ beacon_node_repo_branch }})
Documentation=https://github.com/status-im/nimbus-eth2
Requires=network-online.target
After=network-online.target

[Service]
User={{ beacon_node_user }}
Group={{ beacon_node_group }}
WorkingDirectory={{ beacon_node_service_path }}
SyslogIdentifier={{ beacon_node_service_name }}
SyslogFacility=local6
SyslogLevel=debug
Restart=on-failure
RestartPreventExitStatus=1031
ExecStart={{ beacon_node_repo_path }}/build/nimbus_beacon_node \
    --network={{ beacon_node_network }} \
    --data-dir='{{ beacon_node_data_path }}/{{ beacon_node_data_folder }}' \
{% if beacon_node_validators_dir != "" %}
    --validators-dir='{{ beacon_node_validators_dir }}' \
{% endif %}
{% if beacon_node_secrets_dir != "" %}
    --secrets-dir='{{ beacon_node_secrets_dir }}' \
{% endif %}
{% for url in beacon_node_web3_urls | mandatory %}
    --web3-url={{ url | mandatory }} \
{% endfor %}
{% if beacon_node_web3_jwt_secret is defined %}
    --jwt-secret={{ beacon_node_web3_jwt_secret_path | mandatory }} \
{% endif %}
    --log-format={{ beacon_node_log_format }} \
    --log-level={{ beacon_node_log_level }} \
    --nat=extip:{{ beacon_node_public_address }} \
    --tcp-port={{ beacon_node_listening_port }} \
    --udp-port={{ beacon_node_discovery_port }} \
    --max-peers={{ beacon_node_max_peers }} \
    --netkey-file={{ beacon_node_netkey_path }} \
    --slashing-db-kind={{ beacon_node_slashing_db_kind }} \
    --insecure-netkey-password=true \
    --subscribe-all-subnets={{ beacon_node_subscribe_all | to_json }} \
    --doppelganger-detection={{ beacon_node_doppelganger_detection | to_json }} \
    --rpc={{ beacon_node_rpc_enabled | to_json }} \
{% if beacon_node_rpc_enabled %}
    --rpc-address={{ beacon_node_rpc_address }} \
    --rpc-port={{ beacon_node_rpc_port }} \
{% endif %}
    --rest={{ beacon_node_rest_enabled | to_json }} \
{% if beacon_node_rest_enabled %}
    --rest-address={{ beacon_node_rest_address }} \
    --rest-port={{ beacon_node_rest_port }} \
{% endif %}
    --metrics={{ beacon_node_metrics_enabled | to_json }} \
{% if beacon_node_metrics_enabled %}
    --metrics-address={{ beacon_node_metrics_address }} \
    --metrics-port={{ beacon_node_metrics_port }} \
{% endif %}
{% if beacon_node_validator_monitor_auto %}
    --validator-monitor-auto \
{% endif %}
{% if beacon_node_validator_monitor_totals %}
    --validator-monitor-totals \
{% endif %}
{% for pubkey in beacon_node_validator_monitor_pubkeys %}
    --validator-monitor-pubkey={{ pubkey }} \
{% endfor %}
{% if beacon_node_light_client_data_enabled %}
    --light-client-data-serve={{ beacon_node_light_client_data_serve | to_json }} \
    --light-client-data-import-mode={{ beacon_node_light_client_data_import_mode }} \
{% if beacon_node_light_client_data_max_periods >= 0 %}
    --light-client-data-max-periods={{ beacon_node_light_client_data_max_periods }} \
{% endif %}
{% endif %}
    --num-threads={{ beacon_node_threads }}
{% for extra_flag in beacon_node_extra_flags %}
    {{ extra_flag }}
{% endfor %}

[Install]
WantedBy=multi-user.target
