[Unit]
Description=Nimbus Beacon Node on {{ beacon_node_network }} network ({{ beacon_node_repo_branch }})
Documentation=https://github.com/status-im/infra-role-beacon-node-linux
Requires=network-online.target
After=network-online.target
{% if beacon_node_consul_monitor_enabled %}
OnFailure=monitor-{{ beacon_node_service_name }}.service
OnSuccess=monitor-{{ beacon_node_service_name }}.service
{% endif %}

[Service]
User={{ beacon_node_user }}
Group={{ beacon_node_group }}
LimitNOFILE={{ beacon_node_service_nofile_limit }}
WorkingDirectory={{ beacon_node_service_path }}
SyslogIdentifier={{ beacon_node_service_name }}
SyslogFacility=local6
SyslogLevel=debug
Restart=on-failure
RestartPreventExitStatus={{ beacon_node_doppelganger_exit_code }}
ExecStart={{ beacon_node_binary_path }} \
{% if beacon_node_exec_layer_jwt_secret is defined %}
    --jwt-secret={{ beacon_node_exec_layer_jwt_secret_path | mandatory }} \
{% endif %}
{% if beacon_node_suggested_fee_recipient is defined %}
    --suggested-fee-recipient={{ beacon_node_suggested_fee_recipient | mandatory }} \
{% endif %}
    --config-file={{ beacon_node_config_path }}

[Install]
WantedBy=multi-user.target
