[Unit]
Description=Monitor for {{ beacon_node_service_name }} that updates Consul
Documentation=https://github.com/status-im/infra-role-beacon-node-linux
Requires=consul.service
After=consul.service

[Service]
User={{ beacon_node_consul_monitor_user }}
WorkingDirectory={{ beacon_node_service_path }}
Restart=on-failure
ExecStart={{ beacon_node_service_path }}/monitor.sh

# Security
ReadOnlyPaths=/
ReadWritePaths=/etc/consul /tmp

[Install]
WantedBy=multi-user.target
